<html>
  <head>
    <title>Choose Your Own Adventure</title>
    <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/foundation.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <!-- Start header -->
          <div class="large-12 columns">
            <div class="nav-bar right">
              <ul class="button-group">
                <li><a href="/create" class="button">Make your Own</a></li>
                <li><a href="/stories" class="button">View More Adventures</a></li>
              </ul>
            </div>
            <h1 class="header">Choose Your Own Adventure <small class="text-right"></small></h1>
            <hr/>
          </div>
        <!-- End header -->
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
