<h1>Make Your Own Adventure</h1>
<div class="row">
  <form action="/create" method="post">
    <div class="row">
        <!-- ONLY DISPLAY THIS if it's the first post -->
        <div class="large-6 columns">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" required/>
        </div>
        <div class="large-6 columns">
          <label for="author">Written by:</label>
          <input type="text" id="author" name="author" required/>
        </div>
        <!-- end ONLY DISPLAY THIS -->
        <input type="submit" value="Submit Page" class="button right small">
    </div>
  </form>
</div>
