<h3>Browse Adventures:</h3>
<ul>
  <% @stories.each do |story| %>
    <li>
      <a href="/story/<%= story["id"] %>">
        <%= story["title"] %>
      </a> - by <%= story["author"] %>
      <form action="/stories" method="post">
        <td>
          <input type="hidden" name="delete" value="<%= story["id"] %>">
          <input type="submit" value="X" class="button small">
        </td>
      </form>
    </li>
  <% end %>
</ul>
