@import url(http://fonts.googleapis.com/css?family=Lobster);

.flash {
  padding: 1em;
  background-color: #3B9089;
}

h1.header {
  font-family: 'Lobster';
}

.header hr {
  margin-top: .5rem;
}

.the-end {
  font-family: 'Lobster';
  font-size: 4rem;
}

.story-title {
  font-style: italic;
}

table {
  width: 100%;
}

li.story-listing a {
  margin-right: 10px;
}

.edit-button {
  border: none;
  background-color: rgba(0,0,0,0);
  color: #008cba;
  text-decoration: underline;
  line-height: inherit;
  font-size: 12px;
  padding: 0;
  font-style: italic;
}

.edit-story {
  display: inline;
}

.edit {
  margin-left: 15px;
}

.avatar {
  border: 1px solid black;
  border-radius: 50px;
}

.avatar.small {
  width: 62px;
  vertical-align: middle;
  margin-right: 10px;
}

.avatar.extra-small {
  width: 40px;
  vertical-align: sub;
  margin-left: 4px;
}
