<h1>Make Your Own Adventure</h1>
<div class="row">
  <form action="/create" method="post">
    <div class="row">
        <div class="large-6 columns">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" required/>
        </div>
        <div class="large-6 columns">
          <input type="submit" value="Submit Page" class="button small">
        </div>
    </div>
  </form>
</div>
