<html>
  <head>
    <title>Choose Your Own Adventure</title>
    <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/foundation.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <script src="/js/vendor/modernizr.js"></script>

  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <section class="top-bar-section">
        <ul class="right">
          <% if signed_in? %>
          <li>
            <a href="">Signed in as <%= current_user.username %></a>
          </li>
          <li>
            <img class="avatar extra-small" src="<%= User.find(session[:user_id]).avatar_url %>">
          </li>
          <li><a href="/sign_out">Sign out</a></li>
          <% else %>
          <li><a href="/auth/github">Sign in</a></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <% if flash.any? %>
      <div class="small-8 columns small-centered">
    <div data-alert class="alert-box info radius">
        <%= flash[:notice] %>
        <a href="#" class="close">&times;</a>
    </div>
      </div>
    <% end %>

    <div class="container">
      <div class="row">
        <!-- Start header -->
            <div class="nav-bar right">
              <ul class="button-group">
                <li><a href="/create" class="button">Make your Own</a></li>
                <li><a href="/stories" class="button">View More Adventures</a></li>
              </ul>
            </div>
            <a href="/"><h1 class="header">Choose Your Own Adventure</h1></a>
            <hr/>
        <!-- End header -->
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= yield %>
        </div>
      </div>
    </div>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/delete_alert.js"></script>
    <script src="/js/reveal_modal.js"></script>

  </body>
</html>
